input[type="text"],
input[type="email"] {
    background-color: $primary-white;
    border: 4px solid $primary-green;
    color: darken($primary-green, 35%);
    width: 50%;
}

textarea  {
	background-color: $primary-white;
    border: 4px solid $primary-green;
    width: 50%;

}

input[type="text"],
input[type="email"],
textarea {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 18px;
	color: darken( $primary-green, 35%);
	-webkit-transition: all 0.5s ease-in-out;
  	-moz-transition: all 0.5s ease-in-out;
  	-o-transition: all 0.5s ease-in-out;
  	transition: all 0.5s ease-in-out;
}

input[type="text"]:hover,
input[type="email"]:hover,
textarea:hover {
	border: 4px solid darken($primary-green, 35%);
}



input[type="checkbox"].css-checkbox {
	position:absolute; 
	z-index:-1000; 
	left:-1000px; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height:1px; width:1px; 
	margin:-1px; padding:0; 
	border:0;
}

input[type="checkbox"].css-checkbox + label.css-label, input[type=checkbox].css-checkbox + label.css-label.clr {
	padding-left:30px;
	height:25px; 
	display:inline-block;
	line-height:25px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:25px;
	vertical-align:middle;
	cursor:pointer;

}

input[type="checkbox"].css-checkbox:checked + label.css-label, input[type=checkbox].css-checkbox + label.css-label.chk {
	background-position: 0 -25px;
}
label.css-label {
	background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_ce8a731c3fb73f667ec33e07927de3ee.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


.wpcf7-form > p {
	font-family: 'Playfair Display', serif;
	color: darken( $primary-green, 35%);
	font-size: 18px;

}

.form-wrapper-checkbox {
	width: 50%;
	display: inline-block;
}

.form-divider {
	width: 50%;
	float: left;
	padding-right: 10px;
}

.wpcf7-list-item > label {
	float: left;
	display: inline-block;
	width: 100%;
}


.form-divider > p {
	color: $primary-green;
	margin: 0px 0px 0px 0px;
	padding: -5px 0px -5px 0px;
}

.options {
	color: darken($primary-green, 35%) !important;
	font-size: 18px;

}


